*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #be93c5, #7bc6cc);
}

header img{
    width: 100px;
    height: 100px;
}


header nav ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
}
nav ul{
    list-style: none;
}
.index{
    background-image: url(./../img/bkg\ general.jpg);
    object-fit: cover;
}
.col p{
    font-size: 20px;
    color: black;
}
.row{
    margin: 20px;
    padding: 15px;
}
.servi{
    background-image: url(./../img/bkg\ general.jpg);
    object-fit: cover;
}

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.servicios div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.servicios div img{
    width: 50px;
    border-radius: 5px;
    margin-top: 20px;
}


.carrousel-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.nosotros{
    background-image: url(./../img/bkg\ general.jpg);
    object-fit: cover;
}

.div-inicio{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.product{
    background-image: url(./../img/bkg\ general.jpg);
    object-fit: cover;
}
.productos{
    margin: 20px;
}

.container{
    margin: 30px;
}

footer{
    background: linear-gradient(to bottom, #be93c5, #7bc6cc);
}

footer ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ol li{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

ol li img{
    width: 100px;
}

iframe{
    width: 200px;
    height: 200px;
}

.whatsapp{
    position: fixed;
    bottom: 90px;
    right: 50px;
}
.whatsapp{
    width: 150px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
    justify-items: center;
    margin-top: 30px;
    margin: 1rem 2rem 2rem 2rem;
    gap: 5rem;
}

.contenedor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}


.productos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productos section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productos img{
    width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}
.productos img:hover{
    transform: rotate(10deg);
}

@media screen and (min-width: 1024px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    header nav ul{
        display: flex;
        column-gap: 10px;
    }
    .img1{
        width: 800px;

    }


    .servicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }

    .servicios div img{
        width: 300px;
    }

    .container{
        background-image: url(./../img/mision.jpg);
        background-size: cover;
    }

    .productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 100px);
        margin-top: 80px;
        gap: 30px;
    }

    .productos div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 100px)
    }
    .productos div img{
        width: 200px;
    }

    footer ol{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    }
