*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    width: 100px;
    height: 100px;
}


header nav ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
}
nav ul{
    list-style: none;
}

footer ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ol li{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

ol li img{
    width: 100px;
}

iframe{
    width: 200px;
    height: 200px;
}
.imagen-fondo{
    background-image: url(./../img/mision.jpg);
    background-size: cover;
    grid-template-columns: 200px;
    justify-content: center;
}


.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
    justify-items: center;
    margin-top: 30px;
    margin: 1rem 2rem 2rem 2rem;
    gap: 5rem;
}

.contenedor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}


.hijo1{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none;
}

.hijo2{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none;
}

.hijo3{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    header nav ul{
        display: flex;
        column-gap: 10px;
    }

    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .hijo1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hijo2{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .hijo3{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    footer ol{
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
    }

    footer ol{
        display: flex;
        column-gap: 5px;
    }
    footwe img{
        width: 100px;
    }
    }


@media screen and (min-width: 1024px) {
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "hijo3 hijo3"
        "hijo1 hijo1"
        "hijo2 hijo2";
    }
    .hijo1{
        grid-area: hijo1;
    }
    .hijo2{
        grid-area: hijo2;
    }
    .hijo3{
        grid-area: hijo3;
    }
    .servicios{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, auto);
        padding: 15px;
    }
    .servicios img{
        width: 200px;
    }
}